/* setear archivos */
body{
    /* hacemos que el ancho espeficado sea equivalente al ancho total */
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    /* Visualmente no pasa nada.Se mueve en relacion a su posicion inicial */
    position: relative;
}

img{
    
    width: 200px;
}
/*
div h3{
    position: absolute;
 
    right: 0;
    bottom:0;
}*/
div{
    position: relative;
    color:#444;
}
section{
    position: relative;
    border: 2px dashed steelblue;
    
}
h3{
    position: absolute;
    right: 0;
    bottom:0;
}
