/* setear archivos */
body{
    /* hacemos que el ancho espeficado sea equivalente al ancho total */
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    /* Visualmente no pasa nada.Se mueve en relacion a su posicion inicial */
    /*position: relative;*/
}

figure{
    margin:0;
    border: 2px solid red;
    display: inline-block;
    position: relative;
}

/* Seleccione y aplique estilo al primer elemento secundario de cada elemento <figure>: */

figure > :first-child {
    width: 300px;
    height: 100%;
}


body section:first-child{
    margin: 30px 50px 0 70px;
  
  }

figcaption{
    position:absolute;
    right: 0;
    bottom: 0;
    color: white;
    width: 100%;
}

section{
    
    border: 2px dashed steelblue;
    width: 750px;
}
    
footer
{
    
    width:auto;
    height:150px;
    background-color:black;
    color:white;
}